# Google COVID-19 Community Mobility Reports

Library

In [1]:
import pandas as pd
import numpy as np

Import data from [Google Site](https://www.google.com/covid19/mobility/)

In [2]:
df = pd.read_csv("https://www.gstatic.com/covid19/mobility/Global_Mobility_Report.csv")

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2882: DtypeWarning: Columns (3,4,5) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

Check the data

In [3]:
df.head()

,country_region_code,country_region,sub_region_1,sub_region_2,metro_area,iso_3166_2_code,census_fips_code,place_id,date,retail_and_recreation_percent_change_from_baseline,grocery_and_pharmacy_percent_change_from_baseline,parks_percent_change_from_baseline,transit_stations_percent_change_from_baseline,workplaces_percent_change_from_baseline,residential_percent_change_from_baseline
0,AE,United Arab Emirates,NaN,NaN,NaN,NaN,NaN,ChIJvRKrsd9IXj4RpwoIwFYv0zM,2020-02-15,0.0,4.0,5.0,0.0,2.0,1.0
1,AE,United Arab Emirates,NaN,NaN,NaN,NaN,NaN,ChIJvRKrsd9IXj4RpwoIwFYv0zM,2020-02-16,1.0,4.0,4.0,1.0,2.0,1.0
2,AE,United Arab Emirates,NaN,NaN,NaN,NaN,NaN,ChIJvRKrsd9IXj4RpwoIwFYv0zM,2020-02-17,-1.0,1.0,5.0,1.0,2.0,1.0
3,AE,United Arab Emirates,NaN,NaN,NaN,NaN,NaN,ChIJvRKrsd9IXj4RpwoIwFYv0zM,2020-02-18,-2.0,1.0,5.0,0.0,2.0,1.0
4,AE,United Arab Emirates,NaN,NaN,NaN,NaN,NaN,ChIJvRKrsd9IXj4RpwoIwFYv0zM,2020-02-19,-2.0,0.0,4.0,-1.0,2.0,1.0

Filter the data

In [4]:
laos = df[df["country_region_code"] == "LA"]

Check the data

In [5]:
laos.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 790 entries, 4835444 to 4836233
Data columns (total 15 columns):
 #   Column                                              Non-Null Count  Dtype
---  ------                                              --------------  -----
 0   country_region_code                                 790 non-null    object
 1   country_region                                      790 non-null    object
 2   sub_region_1                                        0 non-null      object
 3   sub_region_2                                        0 non-null      object
 4   metro_area                                          0 non-null      object
 5   iso_3166_2_code                                     0 non-null      object
 6   census_fips_code                                    0 non-null      float64
 7   place_id                                            790 non-null    object
 8   date                                                790 non-null    object
 9   retail_and_recreation_percent_change_from_baseline  790 non-null    float64
 10  grocery_and_pharmacy_percent_change_from_baseline   790 non-null    float64
 11  parks_percent_change_from_baseline                  790 non-null    float64
 12  transit_stations_percent_change_from_baseline       790 non-null    float64
 13  workplaces_percent_change_from_baseline             790 non-null    float64
 14  residential_percent_change_from_baseline            790 non-null    float64
dtypes: float64(7), object(8)
memory usage: 98.8+ KB

In [6]:
laos.tail()

,country_region_code,country_region,sub_region_1,sub_region_2,metro_area,iso_3166_2_code,census_fips_code,place_id,date,retail_and_recreation_percent_change_from_baseline,grocery_and_pharmacy_percent_change_from_baseline,parks_percent_change_from_baseline,transit_stations_percent_change_from_baseline,workplaces_percent_change_from_baseline,residential_percent_change_from_baseline
4836229,LA,Laos,NaN,NaN,NaN,NaN,NaN,ChIJiUWCsFeQFDERgc2ZH0iSxQ4,2022-04-10,6.0,22.0,30.0,-16.0,21.0,15.0
4836230,LA,Laos,NaN,NaN,NaN,NaN,NaN,ChIJiUWCsFeQFDERgc2ZH0iSxQ4,2022-04-11,14.0,30.0,42.0,-11.0,0.0,15.0
4836231,LA,Laos,NaN,NaN,NaN,NaN,NaN,ChIJiUWCsFeQFDERgc2ZH0iSxQ4,2022-04-12,17.0,36.0,48.0,2.0,-11.0,14.0
4836232,LA,Laos,NaN,NaN,NaN,NaN,NaN,ChIJiUWCsFeQFDERgc2ZH0iSxQ4,2022-04-13,6.0,31.0,63.0,-1.0,-47.0,18.0
4836233,LA,Laos,NaN,NaN,NaN,NaN,NaN,ChIJiUWCsFeQFDERgc2ZH0iSxQ4,2022-04-14,4.0,27.0,81.0,-16.0,-57.0,17.0

Export the filtered data ('laos') to CSV file

In [7]:
laos.to_csv("laos_Google_community_mobility_reports.csv", index = False)