# Google COVID-19 Community Mobility Reports

Library

In [2]:
import pandas as pd
import numpy as np

Import data from [Google Site](https://www.google.com/covid19/mobility/)

In [4]:
df = pd.read_csv("https://www.gstatic.com/covid19/mobility/Global_Mobility_Report.csv")

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (3,4,5) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

Check the data

In [5]:
df.head()

  country_region_code  ... residential_percent_change_from_baseline
0                  AE  ...                                      1.0
1                  AE  ...                                      1.0
2                  AE  ...                                      1.0
3                  AE  ...                                      1.0
4                  AE  ...                                      1.0

[5 rows x 15 columns]

Filter the data

In [27]:
laos = df[df["country_region_code"] == "LA"]

Export the filtered data ('laos') to CSV file

In [35]:
laos.to_csv("laos_Google_community_mobility_reports.csv", index = False)